@import "@theme/r-variables.scss";

.text-input-container {
  position: relative;
}

.text-input-label {
  font-size: 14px;
  margin-bottom: 14px;
  color: #343434;
}

.text-input {
  --background: #ffffff;
  --border-radius: #{$r-input-border-radius} !important;
  --border-color: red;
  --border-width: #{$r-input-border-width};
  --highlight-color-focoused: #{$r-input-focused};
  --highlight-color-valid: #{$r-input-focused};
  margin-top: 2px;
  color: #343434;
}

body.dark {
  .text-input {
    --background: #1f1f1f;
    --border-radius: #{$r-input-border-radius} !important;
    --border-color: #ffffff;
    --border-width: #{$r-input-border-width};
    --highlight-color-focoused: #{$r-input-focused};
    --highlight-color-valid: #{$r-input-focused};

    margin-top: 2px;
    color: #ffffff;

    ::placeholder {
      color: #999999 !important;
    }
  }

  .text-input-label {
    font-size: 14px;
    margin-bottom: 14px;
    color: #ffffff;
  }
}

.native-input {
  font-size: 16px !important;
}

ion-input {
  //Error Text
  .input-bottom {
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }

  .has-focous .input-wrapper {
    box-shadow: #90d0e4 0px 2px 8px 0px;
  }
}

.text-input-disabled {
  --background: #dddcdc !important;
  --placeholder-color: #353536 !important;
  --placeholder-opacity: 1 !important;
  --border-color: #{$r-border};
}

.text-input-icon {
  position: absolute;
  right: 14px;
  min-height: 46px;
  bottom: 0;
  color: grey;
  z-index: 100;
  cursor: pointer;
}

.text-input-password-icon {
  color: #{$r-input-focused};
}

.text-input-country-flag {
  margin-top: 2px;
  .native-input.sc-ion-input-md {
    padding-left: 20px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
