// .selected-language {
//   border: 2px solid var(--ion-color-step-50);
// }

// ion-item.selected-language {
//   --background: var(--ion-color-step-50) !important;
// }

.check-icon {
  font-weight: 900;
  stroke-width: 200px;
}

.flag-icon {
  width: 36;
  height: 24px;
  border: 1px solid var(--ion-color-step-100);
  object-fit: cover;
}
