.profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
