@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../../resources/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  font-style: normal;
  font-weight: normal;
  src: url("../../resources/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../../resources/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../resources/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "ProximaNovaBold";
  font-weight: 700;
  font-style: normal;
  src: url("../../resources/fonts/proxima/ProximaNova-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url("../../resources/fonts/proxima/ProximaNova-Semibold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
