.select-option-modal-header {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f4f4f4;
  --background: #f4f4f4;
}

.select-option-modal-text {
  --color: black;
  text-align: center;
  font-size: 16px;
  padding: 0;
}

.select-option-modal-search-bar {
  --background: #dddddd;
  --border-radius: 20px;
  --box-shadow: none;
}

.select-option-modal-ion-list {
  -webkit-margin-start: 0px !important;
  margin-inline-start: 0px !important;
  -webkit-margin-end: 0px !important;
  margin-inline-end: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

  ion-img {
    width: 28px;
    height: 14px;
  }
}
