.register-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0.7;
}

.register-button-container {
  align-items: flex-end;
  justify-content: center;
  flex: 0.3;
  padding-bottom: 70px;
}

.gap-5 {
  height: 5px;
}

// .bg {
//   --background: linear-gradient(
//       rgba(33, 126, 194, 0.7),
//       rgba(33, 126, 194, 0.7)
//     ),
//     url("/src/assets/images/bg/main-bg.png") center/cover no-repeat !important;
//   --ion-background-blend-mode: multiply !important; /* Blend mode */
// }

.wrapper-input {
  position: relative;
}

.wrapper-input > ion-img {
  height: 14px;
  width: 28px;
  position: absolute;
  top: 50%;
  left: -2px;
  margin: 0 0.5em;
  transform: translateY(-50%);
  z-index: 10;
}

#select-phoneCode .native-input.sc-ion-input-md {
  padding-left: 20px;
}
